In [1]:
import turicreate as tc

In [2]:
image_train = tc.SFrame('~/venv/ml_wash/ml_wash_course1/deeplearn/image_train_data/')
image_test = tc.SFrame('~/venv/ml_wash/ml_wash_course1/deeplearn/image_test_data/')

In [3]:
image_train

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 2005

Data:
+-----+----------------------+------------+-------------------------------+
|  id |        image         |   label    |         deep_features         |
+-----+----------------------+------------+-------------------------------+
|  24 | Height: 32 Width: 32 |    bird    | [0.24287176132202148, 1.09... |
|  33 | Height: 32 Width: 32 |    cat     | [0.5250879526138306, 0.0, ... |
|  36 | Height: 32 Width: 32 |    cat     | [0.5660159587860107, 0.0, ... |
|  70 | Height: 32 Width: 32 |    dog     | [1.129795789718628, 0.0, 0... |
|  90 | Height: 32 Width: 32 |    bird    | [1.7178692817687988, 0.0, ... |
|  97 | Height: 32 Width: 32 | automobile | [1.5781855583190918, 0.0, ... |
| 107 | Height: 32 Width: 32 |    dog     | [0.0, 0.0, 0.2206778526306... |
| 121 | Height: 32 Width: 32 |    bird    | [0.0, 0.23753464221954346,... |
| 136 | Height: 32 Width: 32 | automobile | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
| 138 | Height: 32 Width: 32 |    bird    | [0.6589357256889343, 0.0, ... |
+-----+----------------------+------------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [73.0, 77.0, 58.0, 71.0, 6... |
| [7.0, 5.0, 8.0, 7.0, 5.0, ... |
| [169.0, 122.0, 65.0, 131.0... |
| [154.0, 179.0, 152.0, 159.... |
| [216.0, 195.0, 180.0, 201.... |
| [33.0, 44.0, 27.0, 29.0, 4... |
| [97.0, 51.0, 31.0, 104.0, ... |
| [93.0, 96.0, 88.0, 102.0, ... |
| [35.0, 59.0, 53.0, 36.0, 5... |
| [205.0, 193.0, 195.0, 200.... |
+-------------------------------+
[2005 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [4]:
sketch = tc.Sketch(image_train['label'])

In [5]:
sketch

+------------------+-------+----------+
|       item       | value | is exact |
+------------------+-------+----------+
|      Length      |  2005 |   Yes    |
| # Missing Values |   0   |   Yes    |
| # unique values  |   4   |    No    |
+------------------+-------+----------+

Most frequent items:
+------------+-------+
|   value    | count |
+------------+-------+
|    cat     |  509  |
|    dog     |  509  |
| automobile |  509  |
|    bird    |  478  |
+------------+-------+

In [6]:
# split training sets by label into 4 categories
cat = image_train.filter_by('cat','label')
dog = image_train.filter_by('dog','label')
automobile = image_train.filter_by('automobile','label')
bird = image_train.filter_by('bird','label')

# Create a different NN model for each category subset

In [11]:
cat_model = tc.nearest_neighbors.create(cat,
                                        features = ['deep_features'],
                                        label = 'id')

Starting brute force nearest neighbors model training.

In [12]:
dog_model = tc.nearest_neighbors.create(dog,
                                        features = ['deep_features'],
                                        label = 'id')

Starting brute force nearest neighbors model training.

In [13]:
automobile_model = tc.nearest_neighbors.create(automobile,
                                                features = ['deep_features'],
                                                label = 'id')

Starting brute force nearest neighbors model training.

In [14]:
bird_model = tc.nearest_neighbors.create(bird,
                                        features = ['deep_features'],
                                        label = 'id')

Starting brute force nearest neighbors model training.

In [22]:
cat_sample = image_test[0:1]
cat_sample['image'].explore()
# Will now find nearest cat and dog labeled images in the training data that is most similar to this

In [23]:
def get_images_from_ids(query_result):
    return image_train.filter_by(query_result['reference_label'],'id')

In [25]:
cat_model.query(cat_sample) # NN from cat model to above image

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 5.375ms      |

| Done         |         | 100         | 29.67ms      |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+--------------------+------+
| query_label | reference_label |      distance      | rank |
+-------------+-----------------+--------------------+------+
|      0      |      16289      | 34.62371920804245  |  1   |
|      0      |      45646      | 36.00687992842462  |  2   |
|      0      |      32139      | 36.52008134363789  |  3   |
|      0      |      25713      | 36.754850252057054 |  4   |
|      0      |       331       | 36.87312281675268  |  5   |
+-------------+-----------------+--------------------+------+
[5 rows x 4 columns]

In [26]:
dog_model.query(cat_sample) # NN from dog model to above image

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 5.662ms      |

| Done         |         | 100         | 25.54ms      |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+--------------------+------+
| query_label | reference_label |      distance      | rank |
+-------------+-----------------+--------------------+------+
|      0      |      16976      | 37.464262878423774 |  1   |
|      0      |      13387      | 37.56668321685285  |  2   |
|      0      |      35867      | 37.60472670789396  |  3   |
|      0      |      44603      | 37.70655851529755  |  4   |
|      0      |       6094      | 38.511325490739715 |  5   |
+-------------+-----------------+--------------------+------+
[5 rows x 4 columns]

In [27]:
# task 3 = ???

In [29]:
# task 4 - now split the test data
image_test_cat = image_test.filter_by('cat','label')
image_test_dog = image_test.filter_by('dog','label')
image_test_automobile = image_test.filter_by('automobile','label')
image_test_bird = image_test.filter_by('bird','label')

In [ ]:
cat_model = get_images_from_ids(knn_model.query(cat))
dog_model = get_images_from_ids(knn_model.query(dog))
automobile_model = get_images_from_ids(knn_model.query(automobile))
bird_model = get_images_from_ids(knn_model.query(bird))

In [30]:
dog_cat_neighbors = cat_model.query(image_test_dog, k=1)

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 8

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 64000   | 12.5737     | 362.826ms    |

| Done         | 509000  | 100         | 389.87ms     |

+--------------+---------+-------------+--------------+

In [31]:
dog_bird_neighbors = bird_model.query(image_test_dog, k=1)

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 8

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 60000   | 12.5523     | 306.356ms    |

| Done         | 478000  | 100         | 324.029ms    |

+--------------+---------+-------------+--------------+

In [32]:
dog_automobile_neighbors = automobile_model.query(image_test_dog, k=1)

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 8

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 63000   | 12.3772     | 257.397ms    |

| Done         | 509000  | 100         | 295.199ms    |

+--------------+---------+-------------+--------------+

In [33]:
dog_dog_neighbors = dog_model.query(image_test_dog, k=1)

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 8

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 64000   | 12.5737     | 229.34ms     |

| Done         | 509000  | 100         | 309.341ms    |

+--------------+---------+-------------+--------------+

In [34]:
dog_cat_neighbors

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 1000

Data:
+-------------+-----------------+--------------------+------+
| query_label | reference_label |      distance      | rank |
+-------------+-----------------+--------------------+------+
|      0      |        33       | 36.419607706754384 |  1   |
|      1      |      30606      | 38.83532688735542  |  1   |
|      2      |       5545      | 36.97634108541546  |  1   |
|      3      |      19631      | 34.575007291446106 |  1   |
|      4      |       7493      | 34.77882479101661  |  1   |
|      5      |      47044      | 35.11715782924591  |  1   |
|      6      |      13918      | 40.60958309132649  |  1   |
|      7      |      10981      | 39.90368673062214  |  1   |
|      8      |      45456      | 38.067470016821176 |  1   |
|      9      |      44673      | 42.72587329506032  |  1   |
+-------------+-----------------+--------------------+------+
[1000 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [35]:
dog_bird_neighbors

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 1000

Data:
+-------------+-----------------+--------------------+------+
| query_label | reference_label |      distance      | rank |
+-------------+-----------------+--------------------+------+
|      0      |      44658      | 41.75386473035126  |  1   |
|      1      |       9215      |  41.3382958924861  |  1   |
|      2      |      36675      | 38.615759085289056 |  1   |
|      3      |      12582      | 37.08922699538214  |  1   |
|      4      |      36122      | 38.27228869398105  |  1   |
|      5      |       8736      | 39.146208923590486 |  1   |
|      6      |      38991      | 40.523040105962316 |  1   |
|      7      |      44177      | 38.19479183926956  |  1   |
|      8      |       4549      | 40.156713166131446 |  1   |
|      9      |      40225      | 45.55979626027668  |  1   |
+-------------+-----------------+--------------------+------+
[1000 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [36]:
dog_automobile_neighbors

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 1000

Data:
+-------------+-----------------+--------------------+------+
| query_label | reference_label |      distance      | rank |
+-------------+-----------------+--------------------+------+
|      0      |      33859      | 41.95797614571203  |  1   |
|      1      |       2046      | 46.00213318067788  |  1   |
|      2      |      19594      | 42.946229069238804 |  1   |
|      3      |      11000      | 41.68660600484793  |  1   |
|      4      |      19594      | 39.22696649347584  |  1   |
|      5      |      49314      | 40.58451176980721  |  1   |
|      6      |      40822      | 45.10673529610854  |  1   |
|      7      |      44997      | 41.32211409739762  |  1   |
|      8      |      33859      | 41.82446549950164  |  1   |
|      9      |      33859      | 45.497692940110376 |  1   |
+-------------+-----------------+--------------------+------+
[1000 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [37]:
dog_dog_neighbors

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 1000

Data:
+-------------+-----------------+--------------------+------+
| query_label | reference_label |      distance      | rank |
+-------------+-----------------+--------------------+------+
|      0      |      49803      | 33.47735903726335  |  1   |
|      1      |       5755      | 32.84584956840554  |  1   |
|      2      |      20715      | 35.03970731890584  |  1   |
|      3      |      13387      | 33.90103276968193  |  1   |
|      4      |      12089      | 37.484925090925636 |  1   |
|      5      |       6094      | 34.94516534398124  |  1   |
|      6      |       3431      | 39.095727834463545 |  1   |
|      7      |       6184      | 37.76961310322034  |  1   |
|      8      |       2167      | 35.10891446032838  |  1   |
|      9      |       7776      | 43.242283258453455 |  1   |
+-------------+-----------------+--------------------+------+
[1000 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.