In [1]:
import turicreate

In [2]:
people = turicreate.SFrame('~/venv/ml_wash/ml_wash_course1/people_wiki/people_wiki.sframe')

In [3]:
# Pull Elton John's info
elton = people[people['name'] == 'Elton John']

In [4]:
# Most common words in elton table
elton['word_count'] = turicreate.text_analytics.count_words(elton['text'])
elton.stack('word_count',new_column_name=['word','count'])

Columns:
	URI	str
	name	str
	text	str
	word	str
	count	float

Rows: 255

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-----------+-------+
|    word   | count |
+-----------+-------+
| movements |  1.0  |
|   social  |  1.0  |
|  champion |  1.0  |
|    wed    |  1.0  |
|   legal   |  1.0  |
|   became  |  1.0  |
|   after   |  1.0  |
|    2005   |  1.0  |
|  december |  2.0  |
|  furnish  |  2.0  |
+-----------+-------+
[255 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [5]:
# new table for elton word counts, sort highest first
elton_word_count_table = elton[['word_count']].stack('word_count', new_column_name = ['word','count'])
elton_word_count_table.sort('count',ascending=False)

Columns:
	word	str
	count	float

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |  27.0 |
|   in  |  18.0 |
|  and  |  15.0 |
|   of  |  13.0 |
|   a   |  10.0 |
|  has  |  9.0  |
|   he  |  7.0  |
|  john |  7.0  |
|   on  |  6.0  |
| since |  5.0  |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [6]:
# Calculate TF-IDF for entire corpus
people['word_count'] = turicreate.text_analytics.count_words(people['text'])
people['tfidf'] = turicreate.text_analytics.tf_idf(people['text']) # tf_idf column added
elton = people[people['name'] == 'Elton John'] # replace old table w new TF-IDF counts
elton[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+--------------------+
|      word     |       tfidf        |
+---------------+--------------------+
|    furnish    | 18.38947183999428  |
|     elton     | 17.482320270031995 |
|   billboard   | 17.30368095754203  |
|      john     | 13.93931279239831  |
|  songwriters  | 11.250406447031539 |
|  overallelton | 10.986495389225194 |
| tonightcandle | 10.986495389225194 |
|    19702000   | 10.293348208665249 |
|   fivedecade  | 10.293348208665249 |
|      aids     | 10.262846934045534 |
+---------------+--------------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [7]:
# use turicreate.distances.cosine to compute cosine distance between Elton and Mccartney
mccartney = people[people['name'] == 'Paul McCartney']
turicreate.distances.cosine(elton['tfidf'][0],mccartney['tfidf'][0])

0.8250310029221779

In [8]:
# now calc beckham
beckham = people[people['name'] == 'Victoria Beckham']
turicreate.distances.cosine(elton['tfidf'][0],beckham['tfidf'][0])

0.9567006376655429

In [9]:
# Build the two NN models
wnn_model = turicreate.nearest_neighbors.create(people,features=['word_count'],distance='cosine',label='name')
tnn_model = turicreate.nearest_neighbors.create(people,features=['tfidf'],distance='cosine',label='name')

Starting brute force nearest neighbors model training.

Starting brute force nearest neighbors model training.

In [10]:
# Nearest to Elton using word count
wnn_model.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 12.763ms     |

| Done         |         | 100         | 196.175ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-----------------------+------+
| query_label |  reference_label  |        distance       | rank |
+-------------+-------------------+-----------------------+------+
|      0      |     Elton John    | 2.220446049250313e-16 |  1   |
|      0      |   Cliff Richard   |  0.16142415258967036  |  2   |
|      0      |   Sandro Petrone  |  0.16822542751041114  |  3   |
|      0      |    Rod Stewart    |  0.16832716558706107  |  4   |
|      0      | Malachi O'Doherty |   0.177315545978884   |  5   |
+-------------+-------------------+-----------------------+------+
[5 rows x 4 columns]

In [11]:
# Nearest to Elton using TFIDF
tnn_model.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 9.854ms      |

| Done         |         | 100         | 278.128ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+------------------------+------+
| query_label | reference_label  |        distance        | rank |
+-------------+------------------+------------------------+------+
|      0      |    Elton John    | -2.220446049250313e-16 |  1   |
|      0      |   Rod Stewart    |   0.7172196678927374   |  2   |
|      0      |  George Michael  |   0.7476009989692848   |  3   |
|      0      | Sting (musician) |   0.7476719544306141   |  4   |
|      0      |   Phil Collins   |   0.7511932487904706   |  5   |
+-------------+------------------+------------------------+------+
[5 rows x 4 columns]

In [12]:
# Nearest to Beckham using word count
wnn_model.query(beckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 28.379ms     |

| Done         |         | 100         | 270.008ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+------------------------+------+
| query_label |     reference_label      |        distance        | rank |
+-------------+--------------------------+------------------------+------+
|      0      |     Victoria Beckham     | -2.220446049250313e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |  0.20730703611504997   |  2   |
|      0      |      Adrienne Corri      |  0.21450978278754795   |  3   |
|      0      |     Beverly Jane Fry     |  0.21746646874079278   |  4   |
|      0      |      Raman Mundair       |  0.21769547499150488   |  5   |
+-------------+--------------------------+------------------------+------+
[5 rows x 4 columns]

In [13]:
# Nearest to Beckham using TFIDF
tnn_model.query(beckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 13.754ms     |

| Done         |         | 100         | 283.992ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+------------------------+------+
| query_label |   reference_label   |        distance        | rank |
+-------------+---------------------+------------------------+------+
|      0      |   Victoria Beckham  | 1.1102230246251565e-16 |  1   |
|      0      |    David Beckham    |   0.5481696102632145   |  2   |
|      0      | Stephen Dow Beckham |   0.7849867068283364   |  3   |
|      0      |        Mel B        |   0.8095855234085036   |  4   |
|      0      |    Caroline Rush    |    0.81982642291868    |  5   |
+-------------+---------------------+------------------------+------+
[5 rows x 4 columns]